@model TeamListViewModel
@{
    ViewBag.Title = "Change Name";
}

<form asp-action="Change" method="post">
    <input asp-for="@Model.UserName" placeholder="Type name here" class="mb-3"/><br />
    <a asp-controller="Home" asp-action="Index">Return To Home</a><br />
    <button type="submit" class="btn btn-primary">Change Name</button>
</form>